

  <nav class="navbar-fixed-top navbar">
    <div class="navbar-brand">
      <img src="../../assets/images/pngocean.com.png" height="40" width="40"/>
    </div>
    <div class="navigation">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="http://localhost:4200/home">Home</a> </li>
        <li role="presentation"><a href="http://localhost:4200/report">Report</a> </li>
        <li role="presentation"><a href="http://localhost:4200/schedule">Schedule</a> </li>
        <li role="presentation"><a href="http://localhost:4200/map">Map</a> </li>
      </ul>
    </div>
    <div class="user">
      <h4>Username</h4>
    </div>
  </nav>
