<div class="container">
  <div class="tiles row">
    <app-tile class="tile m-2 col" [url]="'http://localhost:4200/schedule'" [style.backgroundColor]="'greenyellow'" [title]="'View Schedules'" [desciption]="'View routine repair and power-cut schedules'" [imageurl]="'https://media.istockphoto.com/vectors/list-icon-vector-sign-and-symbol-isolated-on-white-background-list-vector-id1001213860'"></app-tile>
    <app-tile class="tile m-2 col" [url]="'http://localhost:4200/report'" [style.backgroundColor]="'lightcyan'" [title]="'File a Report'" [desciption]="'Report a power outage'" [imageurl]="'https://thumbs.dreamstime.com/b/round-simple-report-logo-isolated-white-concept-census-reply-adviser-consultation-answer-question-flat-114270627.jpg'"></app-tile>
    <app-tile class="tile m-2 col" [url]="'http://localhost:4200/map'" [style.backgroundColor]="'mistyrose'" [title]="'View Map'" [desciption]="'View the status map'" [imageurl]="'https://previews.123rf.com/images/alekseyvanin/alekseyvanin1705/alekseyvanin170501697/77840291-map-with-pin-pointer-icon-vector-location-solid-logo-illustration-colorful-pictogram-isolated-on-whi.jpg'"></app-tile>
  </div>
</div>
